<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
    <section name="bucketV2" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <couchbase>
    <servers bucket="default" bucketPassword="">
      <add uri="http://10.10.20.12:8091/pools"/>
    </servers>
  </couchbase>

  <bucketV2>
    <servers bucket="couch" bucketPassword="">
      <add uri="http://192.168.1.107:8091/pools"/>
    </servers>
  </bucketV2>
  
</configuration>